.Card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 20px 10px 20px 10px;
  color: white;
  max-width: 300px;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);

  h3 {
    font-size: 24px;
    font-weight: bolder;
  }
}

.CardText {
  text-align: center;
  width: 80%;
}

@media screen and (max-width: 768px) {
  .Card {
    width: 60%;
    max-width: none;
  }
}

@media screen and (max-width: 600px) {
  .Card {
    width: 80%;
    max-width: none;
  }
}
