.CartWrapper {
  position: relative;
  width: 100%;
  display: flex;
  background-color: var(--b-primary);
  min-height: 200px;
}

.Cards {
  position: absolute;
  top: -60%;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
