.CartWrapper {
  width: 100%;
  display: flex;
  background-color: var(--b-primary);
  z-index: 1;
}

.Cards {
  margin-top: -150px;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  
}

@media screen and (max-width: 768px){
  .Cards {
    flex-direction: row;
  }
}

@media screen and (max-width: 600px) {
  .Cards {
    flex-direction: column;
    align-items: center;
  }
}
