.wrapper {
  width: 100%;
  overflow: hidden;
  line-height: 0;
  background-color: #1a71ec;

  svg {
    position: relative;
    display: block;
    width: calc(135% + 1.3px);
    height: 200px;
  }
}
.shapeFill {
  fill: #ffffff;
}
