@import 'variables.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 1rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  background-color: var(--c-primary);
  color: var(--c-text);
}

img {
  max-width: 100%;
  vertical-align: middle;
}

.banner {
  display: flex;
  flex-direction: column;
  color: var(--b-primary);
  align-self: center;
  margin-bottom: 2rem;
}

.banner > h1 {
  font-size: 64px;
  font-family: 'Pacifico', cursive;
  text-align: center;
}

.banner-meta {
  align-self: center;
  font-size: 24px;
  color: black;
  max-width: 60%;
  text-align: center;
}


@media screen and (max-width: 768px) {
  .banner {
    margin-top: 2rem;
  }
  .banner > h1 {
    font-size: 52px;
  }
  .banner-meta {
    font-size: 18px;
    width: 90%;
  }
}