@import 'variables.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 1rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  background-color: var(--c-primary);
  color: var(--c-text);
}

img {
  max-width: 100%;
  vertical-align: middle;
}

.banner {
  display: flex;
  flex-direction: column;
  color: var(--b-primary);
  align-self: center;
  margin-bottom: 2rem;
}

.banner > h1 {
  font-size: 64px;
  font-family: 'Pacifico', cursive;
  text-align: center;
}

.banner-meta {
  align-self: center;
  font-size: 24px;
  color: black;
  max-width: 60%;
  text-align: center;
}

.contentWrapper {
  background-color: var(--b-primary);
  display: flex;
  justify-content: center;
  width: 100%;
}

.content {
  display: flex;
  justify-content: space-between;
  color: white;
  width: 85%;
  align-items: flex-start;
  margin: 30px 0 20px 0;
}

.content::before,
.content::after {
  content: '';
}

@media screen and (min-width: 1289px) {
  .content {
    width: 75%;
  }
}

@media screen and (max-width: 600px) {
  .banner {
    margin-top: 2rem;
  }
  .banner > h1 {
    font-size: 52px;
  }
  .banner-meta {
    font-size: 18px;
    width: 90%;
  }

  .content {
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .content {
    width: 95%;
  }
}
